<h2> Load librairies </h2>

In [157]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from collections import Counter

<h2> Manipulation de dataset 1 : </h2>

In [158]:
# Importing the dataset
dataset = pd.read_csv('../Data/Dataset1.csv')
#Importer et visualiser le contenu du dataset.
dataset.head(20)

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,1.2040,0
1,213,7.5,338,7.62,0.75,1.06,25.40,0.30,0.86,1.54,2.89,2.29,1.8232,0
2,163,9.6,718,7.59,0.51,1.11,14.30,0.30,0.86,1.57,2.70,2.03,1.9092,0
3,157,6.8,475,7.64,0.58,0.94,26.00,0.34,0.54,1.53,2.65,1.82,1.6168,0
4,270,9.9,444,7.63,0.40,0.86,11.80,0.25,0.76,1.69,2.43,2.26,1.4792,1
5,220,8.6,444,7.43,0.65,0.72,11.70,0.37,0.66,0.90,2.19,1.82,1.2384,0
6,220,7.2,222,7.62,0.43,0.81,7.40,0.34,0.69,1.05,2.00,1.88,1.3932,0
7,207,7,401,7.63,0.59,0.69,7.60,0.32,0.68,0.62,2.43,1.68,1.1868,0
8,333,14.9,422,8.26,0.48,NaN,8.45,0.51,3.32,1.08,9.21,0.32,2.0124,2
9,289,8.6,560,7.58,0.44,0.67,7.30,0.63,0.66,0.94,2.43,1.79,1.1524,1
10,138,8.1,739,7.55,0.33,0.78,9.00,0.69,0.41,1.15,2.75,2.00,1.3416,0
11,151,8.1,549,7.59,0.45,0.97,9.60,0.71,0.38,1.33,2.79,2.41,1.6684,1
12,144,7.2,306,7.53,0.73,0.89,9.20,0.63,0.47,1.03,2.79,2.38,1.5308,0
13,138,5.3,444,7.68,0.60,0.78,9.70,0.73,0.36,1.32,3.32,2.12,1.3416,2
14,144,8.3,549,7.45,0.53,0.81,10.20,0.51,0.56,1.26,2.90,2.29,1.3932,0
15,201,7.7,676,7.39,0.77,0.72,9.70,0.58,0.47,1.02,3.77,2.56,1.2384,1
16,182,?,718,7.47,0.34,0.67,10.60,0.77,0.41,1.28,3.04,2.79,1.1524,0
17,238,7.5,771,7.38,0.88,0.75,11.00,0.46,0.38,1.16,2.96,1.32,1.2900,0
18,270,8.1,655,7.45,0.55,0.67,10.20,0.28,0.44,1.26,7.75,2.56,1.1524,1
19,213,6.1,803,7.38,0.78,0.61,10.50,0.30,0.49,0.66,7.74,1.85,1.0492,0

## Description globale du dataset

In [159]:
# Fournir une description globale du dataset.
def Description(dataset):
    print("Description du dataset :")
    print(dataset.describe())
    print("Description de chaque attribut du dataset :")
    print(dataset.info())
    print("Nombre de valeurs manquantes :")
    print(dataset.isnull().sum())
    print("Nombre de valeurs dupliquées :")
    print(dataset.duplicated().sum())
    print("Nombre de valeurs uniques :")
    print(dataset.nunique())
    print("Valeurs uniques de chaque attribut :")
    for col in dataset.columns:
        print(col, dataset[col].unique())
    print("Valeurs manquantes :")
    print(dataset.isna().sum())
   
 

Desccription_table = pd.DataFrame({
    'Description' : [  'Number of rows','Number of columns' ,
     'Nombre de valeurs manquantes', 'Nombre de valeurs dupliquées', 'Nombre de valeurs uniques',
      'Data types'  , 'Valeurs uniques de chaque attribut'],
    'Valeurs' : [ dataset.shape[0],dataset.shape[1] ,
     dataset.isnull().sum().tolist(), dataset.duplicated().sum(),  dataset.nunique().sum(), 
      dataset.dtypes.tolist() , dataset.isna().sum().tolist()]

})
Desccription_table

,Description,Valeurs
0,Number of rows,885
1,Number of columns,14
2,Nombre de valeurs manquantes,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0]"
3,Nombre de valeurs dupliquées,3
4,Nombre de valeurs uniques,1866
5,Data types,"[int64, object, int64, float64, float64, float..."
6,Valeurs uniques de chaque attribut,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0]"

In [160]:
# Fournir une description de chaque attribut du dataset.
Description_measures = {'Measures' :[ 'Number of rows','Number of columns' , 'Data types'  , 'Valeurs uniques de chaque attribut' ,
    'Number of duplicates' , 'Number of missing values' , ]}

for col in dataset.columns[0:]:
    Description_measures[col]=[
    dataset.shape[0], 
    dataset.shape[1],
    dataset.dtypes[col],
    dataset[col].nunique() , 
    dataset[col].duplicated().sum() ,
    dataset[col].isnull().sum(),
    ]
Description_measures = pd.DataFrame(Description_measures)
Description_measures

,Measures,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,Number of rows,885,885,885,885,885,885,885,885,885,885,885,885,885,885
1,Number of columns,14,14,14,14,14,14,14,14,14,14,14,14,14,14
2,Data types,int64,object,int64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64
3,Valeurs uniques de chaque attribut,61,93,63,107,71,68,153,70,387,166,429,127,68,3
4,Number of duplicates,824,792,822,778,814,816,732,815,498,718,456,758,817,882
5,Number of missing values,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [161]:
# convert elements of the dataset column 'P' from object to a type float64
dataset['P'] = pd.to_numeric(dataset['P'],errors='coerce')
# print(dataset['P'])
dataset.head(20)

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,1.2040,0
1,213,7.5,338,7.62,0.75,1.06,25.40,0.30,0.86,1.54,2.89,2.29,1.8232,0
2,163,9.6,718,7.59,0.51,1.11,14.30,0.30,0.86,1.57,2.70,2.03,1.9092,0
3,157,6.8,475,7.64,0.58,0.94,26.00,0.34,0.54,1.53,2.65,1.82,1.6168,0
4,270,9.9,444,7.63,0.40,0.86,11.80,0.25,0.76,1.69,2.43,2.26,1.4792,1
5,220,8.6,444,7.43,0.65,0.72,11.70,0.37,0.66,0.90,2.19,1.82,1.2384,0
6,220,7.2,222,7.62,0.43,0.81,7.40,0.34,0.69,1.05,2.00,1.88,1.3932,0
7,207,7.0,401,7.63,0.59,0.69,7.60,0.32,0.68,0.62,2.43,1.68,1.1868,0
8,333,14.9,422,8.26,0.48,NaN,8.45,0.51,3.32,1.08,9.21,0.32,2.0124,2
9,289,8.6,560,7.58,0.44,0.67,7.30,0.63,0.66,0.94,2.43,1.79,1.1524,1
10,138,8.1,739,7.55,0.33,0.78,9.00,0.69,0.41,1.15,2.75,2.00,1.3416,0
11,151,8.1,549,7.59,0.45,0.97,9.60,0.71,0.38,1.33,2.79,2.41,1.6684,1
12,144,7.2,306,7.53,0.73,0.89,9.20,0.63,0.47,1.03,2.79,2.38,1.5308,0
13,138,5.3,444,7.68,0.60,0.78,9.70,0.73,0.36,1.32,3.32,2.12,1.3416,2
14,144,8.3,549,7.45,0.53,0.81,10.20,0.51,0.56,1.26,2.90,2.29,1.3932,0
15,201,7.7,676,7.39,0.77,0.72,9.70,0.58,0.47,1.02,3.77,2.56,1.2384,1
16,182,NaN,718,7.47,0.34,0.67,10.60,0.77,0.41,1.28,3.04,2.79,1.1524,0
17,238,7.5,771,7.38,0.88,0.75,11.00,0.46,0.38,1.16,2.96,1.32,1.2900,0
18,270,8.1,655,7.45,0.55,0.67,10.20,0.28,0.44,1.26,7.75,2.56,1.1524,1
19,213,6.1,803,7.38,0.78,0.61,10.50,0.30,0.49,0.66,7.74,1.85,1.0492,0

In [162]:
 # Calculer les mesures de tendance centrale et de dispersion pour chaque attribut du dataset.
def Calculate_Measure(dataset):
    # Create an empty dictionary to store the measures
    measures = {'Mesure': ['Moyenne', 'Médiane', 'Variance', 'Q0:Min', 'Q1', 'Q2', 'Q3', 'Q4:Max' , 'Ecart-type', 'Skewness', 'Kurtosis'  ]}
    
    # Loop through each column in the dataset
    for col in dataset.columns[:]:
        # Calculate the required measures for each column and append to the dictionary
        measures[col] = [
            dataset[col].mean().round(2), 
            round(dataset[col].median(), 2),
            round(dataset[col].var(), 2), 
            sorted(dataset[col])[0], 
            dataset[col].quantile(0.25),
            dataset[col].quantile(0.5),
            dataset[col].quantile(0.75),
            sorted(dataset[col])[-1],
            round(dataset[col].std(), 2),
            round(dataset[col].skew(), 2),
            dataset[col].kurtosis(),
        ]
    
    # Create a DataFrame from the dictionary
    Mesure_tendance_centrale = pd.DataFrame(measures)
    
    return Mesure_tendance_centrale

# Assuming 'dataset' is your DataFrame
Mesure_tendance_centrale = Calculate_Measure(dataset)
Mesure_tendance_centrale

,Mesure,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,Moyenne,247.000000,14.560000,501.340000,7.510000,0.540000,0.620000,7.5500,0.47000,4.130000,0.950000,8.65000,0.590000,1.060000,0.59000
1,Médiane,257.000000,8.100000,475.000000,7.500000,0.550000,0.590000,6.6400,0.36000,3.560000,0.930000,8.34000,0.410000,1.010000,1.00000
2,Variance,5984.460000,480.970000,16668.000000,0.220000,0.020000,0.710000,19.5200,3.57000,9.660000,0.220000,18.50000,0.330000,2.090000,0.33000
3,Q0:Min,6.000000,2.900000,11.000000,0.900000,0.100000,0.100000,0.6400,0.07000,0.210000,0.090000,0.11000,0.060000,0.172000,0.00000
4,Q1,201.000000,6.800000,412.000000,7.350000,0.430000,0.380000,4.7000,0.28000,2.050000,0.630000,6.21000,0.270000,0.653600,0.00000
5,Q2,257.000000,8.100000,475.000000,7.500000,0.550000,0.590000,6.6400,0.36000,3.560000,0.930000,8.34000,0.410000,1.014800,1.00000
6,Q3,307.000000,10.700000,581.000000,7.630000,0.640000,0.780000,8.7500,0.47000,6.320000,1.250000,11.47000,0.610000,1.341600,1.00000
7,Q4:Max,383.000000,125.000000,1560.000000,11.150000,0.950000,24.000000,31.0000,42.00000,44.000000,NaN,31.00000,2.820000,41.280000,2.00000
8,Ecart-type,77.360000,21.930000,129.100000,0.460000,0.140000,0.840000,4.4200,1.89000,3.110000,0.470000,4.30000,0.570000,1.450000,0.58000
9,Skewness,-0.630000,3.410000,0.980000,-5.100000,0.100000,24.380000,2.4600,20.94000,3.590000,0.430000,0.60000,2.120000,24.370000,0.36000
10,Kurtosis,0.116626,10.508438,4.832354,99.718005,-0.452513,677.939837,7.6622,440.68218,38.615609,-0.119151,1.07978,3.822628,677.969115,-0.74368

<h1> 2. Prétraitement des données </h1>

<h3>Traitement des valeurs manquantes et aberrantes </h3>

In [163]:
# Remplacer les valeurs manquantes par la moyenne de la colonne
dataset.fillna(dataset.mean(), inplace=True) 
dataset.head()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560,7.46,0.62,0.70,5.9,0.24,0.31,0.77,8.71,0.11,1.2040,0
1,213,7.5,338,7.62,0.75,1.06,25.4,0.30,0.86,1.54,2.89,2.29,1.8232,0
2,163,9.6,718,7.59,0.51,1.11,14.3,0.30,0.86,1.57,2.70,2.03,1.9092,0
3,157,6.8,475,7.64,0.58,0.94,26.0,0.34,0.54,1.53,2.65,1.82,1.6168,0
4,270,9.9,444,7.63,0.40,0.86,11.8,0.25,0.76,1.69,2.43,2.26,1.4792,1

<h2>Traitement des valeurs aberrantes  </h2>
<h4> Utilisation de techniques robustes </h4>

In [164]:
# Choix de la méthode de traitement des valeurs aberrantes 
# Utilisation de techniques robustes  : MAD (Median Absolute Deviation) 
def mad_based_outlier(data, threshold=3.5): 
    median = np.median(data)
    mad = np.median(np.abs(data - median))
    modified_z_scores = 0.6745 * (data - median) / mad
    return np.abs(modified_z_scores) > threshold

def handle_outliers(dataset, threshold=3.5, treatment_method='median'):
    cleaned_data = dataset.copy()
    for col in dataset.columns: # Loop through all columns in the dataset
        if dataset[col].dtype != 'object':
            outliers = mad_based_outlier(dataset[col], threshold=threshold)
            if outliers.any():
                if treatment_method == 'median':
                    median_value = np.median(dataset[col])
                    cleaned_data.loc[outliers, col] = median_value
                elif treatment_method == 'mean':
                    mean_value = np.mean(dataset[col])
                    cleaned_data.loc[outliers, col] = mean_value         
                else:
                    raise ValueError('Please select a valid treatment method.')
    return cleaned_data

# Threshold and treatment_method can be adjusted based on your specific dataset and context
dataset = handle_outliers(dataset, threshold=3.5, treatment_method='mean') 

dataset.head()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560.0,7.46,0.62,0.70,5.900000,0.24,0.31,0.77,8.71,0.110000,1.2040,0
1,213,7.5,338.0,7.62,0.75,1.06,7.545808,0.30,0.86,1.54,2.89,0.593424,1.8232,0
2,163,9.6,718.0,7.59,0.51,1.11,14.300000,0.30,0.86,1.57,2.70,0.593424,1.9092,0
3,157,6.8,475.0,7.64,0.58,0.94,7.545808,0.34,0.54,1.53,2.65,0.593424,1.6168,0
4,270,9.9,444.0,7.63,0.40,0.86,11.800000,0.25,0.76,1.69,2.43,0.593424,1.4792,1

<h3> Réduction des données </h3>

In [165]:
dataset.drop_duplicates(inplace=True) # Drop duplicate rows inplace (in the same DataFrame)

# Drop duplicate columns (Elimination des redondances verticales)
dataset = dataset.T.drop_duplicates().T # Transpose, drop duplicates, transpose back
# dataset = dataset.loc[:,~dataset.columns.duplicated()] # Alternative method to drop duplicate columns

dataset.shape

(882, 14)

<h2>Séparer le dataset 80% Apprentissage  20% Test</h2>

In [166]:
def custom_train_test_split(dataset, test_size=0.2, random_state=None):
    '''
    Splits a dataset into training and test sets.
    parametres:
    -----------
    
    dataset: The dataset to be split
    test_size: The proportion of the dataset to be included in the test set
    random_state: Random state for reproducibility
    returns:
    -------
    train_set: The training set
    test_set: The test set
    '''
    np.random.seed(random_state)  # Pour la reproductibilité du mélange
    
    # nombre de classes dans le dataset
    num_classes = len(np.unique(dataset[:, -1]))
    train_set = np.empty((0, dataset.shape[1]))
    test_set = np.empty((0, dataset.shape[1]))

    for i in range(0, num_classes):
        indices_classe = np.where(dataset[:, -1] == i)[0]
        np.random.shuffle(indices_classe)
        
        nb_test_samples = int(test_size * len(indices_classe))
        test_indices = indices_classe[:nb_test_samples]
        train_indices = indices_classe[nb_test_samples:]
        
        train_set = np.vstack((train_set, dataset[train_indices, :]))
        test_set = np.vstack((test_set, dataset[test_indices, :]))

    np.random.shuffle(train_set)
    np.random.shuffle(test_set)

    return train_set, test_set

In [167]:
train_set , test_set = custom_train_test_split(dataset.values, test_size=0.2, random_state=0)

print('Train set shape:', train_set.shape)
print('Test set shape:', test_set.shape)

train_set = pd.DataFrame(train_set, columns=dataset.columns)
test_set = pd.DataFrame(test_set, columns=dataset.columns)

train_set.head()

Train set shape: (706, 14)
Test set shape: (176, 14)

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,345.0,9.9,507.0,7.90,0.49,0.78,8.45,0.59,7.54,0.37,14.33,0.340000,1.3416,1.0
1,195.0,8.3,475.0,7.60,0.42,0.15,11.30,0.29,3.56,0.55,8.66,0.170000,0.2580,0.0
2,345.0,6.8,496.0,7.70,0.57,0.88,9.65,0.29,6.30,1.51,9.32,0.340000,1.5136,1.0
3,25.0,8.1,591.0,7.33,0.43,0.78,14.00,0.46,0.35,1.74,2.38,0.593424,1.3416,0.0
4,326.0,10.1,803.0,7.40,0.53,0.57,6.00,0.37,0.98,0.37,1.43,0.593424,0.9804,1.0

<h2>KNN</h2>

In [169]:
class Knn:
    def __init__(self, k=None, distance_function=None):
        self.k = k
        self.distance_function = distance_function
        self.dataset = None

    @staticmethod
    def euclidean_distance(instance_a, instance_b):
        return np.sqrt(sum((a - b)**2 for a, b in zip(instance_a, instance_b)))

    def _sort(self, target_instance):
        distances = self.dataset.apply(lambda row: self.distance_function(np.array(row[:-1]), np.array(target_instance[:-1])), axis=1)
        sorted_indices = distances.argsort()
        sorted_dataset = self.dataset.iloc[sorted_indices].reset_index(drop=True)
        return sorted_dataset  # Return the sorted DataFrame

    def _get_majority_class(self, k_neighbors):
        classes = k_neighbors.iloc[:, -1]
        counts = Counter(classes)
        most_common = counts.most_common()

        # Handle tie for the majority class
        if len(most_common) == 1 or most_common[0][1] > most_common[1][1]:
            return most_common[0][0]
        else:
            # If there is a tie, choose the class with the smaller label
            return min(most_common[0][0], most_common[1][0])

    def fit(self, x_train):
        # Handle missing values (NA) in the dataset
        self.dataset = x_train.dropna()
        return self

    def predict(self, x_test):
        predictions = []
        for i in range(len(x_test)):
            sorted_dataset = self._sort(x_test.iloc[i])
            k_neighbors = sorted_dataset.iloc[:self.k]
            predicted_class = self._get_majority_class(k_neighbors)
            predictions.append(predicted_class)
        return predictions

In [170]:
y_test = test_set.iloc[:, -1] # Get the target values from the test set
test_set.drop('Fertility', axis=1, inplace=True)

In [172]:
# Create an instance of the Knn class
knn_classifier = Knn(k=5, distance_function=Knn.euclidean_distance)

# Fit the model on the training set
knn_classifier.fit(train_set)

# Predict on the test set
predictions = knn_classifier.predict(test_set)

# Display the predictions
print("Predictions:", predictions)

Predictions: [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 2.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0]

<h2>Decision Tree</h2>